doctype html
html
  head
    title= title
    script(src=jslink defer)
    link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
    link(rel='stylesheet', href=csslink)
    
  body
    block content
    
