@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&family=Bebas+Neue&family=Send+Flowers&display=swap');
:root {
    --main-color: rgb(211, 204, 165);
    --item-text-color: #ffffff;
}

body {
    min-height: 100vh;
    background-image: url('../pics/black-1072366_1920.jpg');
    background-size: cover;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-family: 'Akshar', sans-serif;
    /* background-color: rgb(2, 8, 37); */
}

.back-main {
    font-size: larger;
    color: var(--main-color);
    border: 1px solid;
    padding: 10px;
    border-radius: 25px;
}

img {
    height: 50px;
}

.flash_messages {
    color: black;
    font-size: medium;
}

input {
    background-color: transparent;
    border-bottom: 1px solid #ffffff !important;
}

.sizing {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.buttuns {
    display: flex;
    height: 40px;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.reg-btn {
    height: 40px;
    border: 1px solid;
    border-radius: 25px;
}

.country-box {
    text-align: center !important;
    background-color: transparent;
    border: 0px;
}

.small-tag {
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-weight: 100;
}

.login-form {
    background-color: rgb(50, 50, 50);
    box-shadow: 0 0 8px 1px rgb(0, 0, 0);
    color: black(206, 22, 22);
    padding-top: 60px;
    text-align: center;
    min-width: 280px;
    max-width: 500px;
    min-height: 500px;
    border-radius: 5px;
    border: 1px solid rgb(128, 128, 128, 0.2);
    z-index: 0;
}

.back-login {
    margin-left: 20px;
    text-decoration: none;
}

.register-form {
    background-color: rgb(34, 34, 34);
    box-shadow: 0 0 10px 1px rgb(3, 3, 3);
    display: none;
    color: black(206, 22, 22);
    text-align: center;
    min-width: 280px;
    min-height: 500px;
    padding-top: 60px;
    border-radius: 5px;
    border: 1px solid rgb(128, 128, 128, 0.2);
}