body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.header {
    display: flex;
}

a {
    color: #00B7FF;
}

h1,
h3 {
    text-align: center;
    background-color: #09b9ff;
}

input {
    height: 20px;
}

.input-container {
    align-items: center;
    display: flex;
    margin: 5px;
    justify-content: center;
}

label {
    font-size: large;
}

.input-container p {
    align-items: center;
    height: 20px;
    margin: 0;
    padding-left: 10px;
    font-size: large;
}

.global {
    display: flex;
    flex-direction: column;
}

.container-high {
    display: flex;
    width: fit-content;
    border-bottom: 1px solid;
}

.container-medium {
    border-bottom: 1px solid;
}

.todo-item {
    width: 150px;
}

p {
    padding-left: 5px;
}