@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&family=Bebas+Neue&family=Send+Flowers&display=swap');
body {
    background-image: url('../pics/watercolor-4117017.png');
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-family: 'Akshar', sans-serif;
    /* font-family: 'Bebas Neue', cursive; */
    /* font-family: 'Send Flowers', cursive; */
}

.header {
    transform: skewX(-10deg);
}

.header>div {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.logo {
    height: 20px;
}

a {
    color: #00B7FF;
}

h1,
h3 {
    text-align: center;
}

input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid;
    height: 20px;
}

.input-container {
    transform: skewX(-10deg);
    align-items: center;
    display: flex;
    margin: 5px;
    justify-content: center;
}

label {
    font-size: large;
}

.input-container p {
    align-items: center;
    height: 20px;
    margin: 0;
    padding-left: 10px;
    font-size: large;
}

.global-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.container-high {
    display: flex;
    width: fit-content;
    border-bottom: 1px solid;
}

.container-medium {
    display: flex;
    border-bottom: 1px solid;
    width: fit-content;
}

.container-low {
    display: flex;
    border-bottom: 1px solid;
    width: fit-content;
}

.urgent-high {
    font-weight: 600;
    transform: skewX(-10deg);
    font-size: larger;
    box-sizing: border-box;
    text-align: center;
    padding-top: 3px;
    min-width: 150px;
    min-height: 25px;
    padding-left: 5px;
    background-color: tomato;
}

.urgent-medium {
    font-weight: 600;
    transform: skewX(-10deg);
    font-size: larger;
    box-sizing: border-box;
    text-align: center;
    padding-top: 3px;
    min-width: 150px;
    min-height: 25px;
    padding-left: 5px;
    background-color: orange;
}

.urgent-low {
    font-weight: 600;
    transform: skewX(-10deg);
    font-size: larger;
    box-sizing: border-box;
    text-align: center;
    padding-top: 3px;
    min-width: 150px;
    min-height: 25px;
    padding-left: 5px;
    background-color: palegreen;
}

.cont-med {
    margin-left: 10px;
}

.cont-low {
    margin-left: 10px;
}

.todo-item {
    font-size: 20px;
    font-family: 'Akshar', sans-serif;
    ;
    width: 200px;
}

.todo-item:hover {
    background-color: whitesmoke;
}

p {
    padding-left: 5px;
}

.del-item {
    cursor: pointer;
}